* {
  font-family: "Alegreya", serif;
}

.about__title {
  text-align: center;
  font-size: 2em;

}

.about__quote {
  text-align: center;
  font-weight: bold;
  line-height: 1.4;
  font-size: 1.2rem;
}

.about__article {
  text-align: center;
  line-height: 1.2;
  font-size: 1.1rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
  margin-right: 40px;
  margin-left: 40px;
}

.ourTeam__title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 1.8em;
}
