.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-secondary);
  padding: 30px;
  align-items: center;
}

.github1-ref {
  display: flex;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6px;
}

.text-footer {
  visibility: hidden;
}

@media (min-width: 680px) {
  .text-footer {
    visibility: visible;
  }
}
