body {
  font-family: "Alegreya", serif;
}

.authors-container {
  display: grid;
  gap: 15px;
  position: relative;
  width: 100%;

}

.authors-image {
  object-fit: cover;
  width: 310px;
  height: 260px;
  justify-self: center;


  box-shadow: 1px 1px 1px 1px rgba(20, 20, 20, 0.4);
}



.authors-detail {
  text-align: center;
  line-height: 1.3;
  padding-bottom: 30px;

}

.authors-detal__name {
  font-weight: bold;
}

.authors-detal__about {
  font-style: italic;
}

@media (min-width:680px) {
  .authors-image {

    width: 310px;
    height: 260px;

  }
}

@media (min-width:1000px) {
  .authors-image {

    width: 310px;
    height: 260px;

  }

  .authors-detail {
    font-size: 1.2rem;

  }

}

@media(min-width:1200px) {
  .authors-container {

    margin-top: 60px;

  }
}
