.container__gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 3px;
  margin-left: 10px;
  margin-right: 10px;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 0.8fr));
  margin: 100px;
  gap: 3px;
  justify-content: center; */

}

.gallery-image {
  height: 100%
}

.container__gallery__title {
  margin: auto 0;
  text-transform: capitalize;
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 15px;
  margin-top: 60px;
}

@media (min-width:680px) {
  .container__gallery {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    justify-content: none;
    margin-right: none;
    margin-left: none;
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    font-weight: 400;
  }

  .container__gallery__title {
    margin: auto 0;
    text-transform: capitalize;
    text-align: none;
  }


}
