@font-face {
  font-family: 'BrownSugar';
  src: url('/./public/Brown\ Sugar\ .ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--background-primary);
  font-family: 'Alegreya', serif;
}

:root {
  --background-primary: #fffff;
  --background-secondary: #f5f4f6;
}
