.container__partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Playfair Display SC', serif;
  text-transform: uppercase;

}

.logo {
  padding: 30px;
  width: 50%;
  height: auto;
}

.details {
  font-size: 19.6px;
}

@media (min-width: 680px) {
  .container__partners {
    padding: 50px;
    padding-top: 70px;

  }

  .logo {
    padding: 30px;
    width: 32%;
  }

}

@media (min-width: 1200px) {
  .logo {
    width: 27%;
  }
}
