.container__partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Playfair Display SC', serif;
  text-transform: uppercase;

}

.logo {
  padding: 30px;
  width: 50%;
}

.details {
  font-size: 25.6px;
}

@media (min-width: 680px) {
  .container__partners {
    padding: 50px;

  }

  .logo {
    padding: 30px;
    width: 34%;
  }


}
