.story {
  margin: 0;
  padding: 0;
  font-family: "Alegreya", serif;

}



.story__title {
  /* font-weight: bold; */
  font-size: 2em;
  font-family: "Alegreya", serif;
  text-align: center;
  margin-bottom: 25px;

}

.story__city {
  display: flex;
  justify-content: row;
}

.story__name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 60px;

  margin-bottom: 30px;


}

.story__name p {
  padding-bottom: 10px;
}

.story__image-container {
  position: relative;
  width: 100%;
  height: 300px;
}

.story__image-container__image {
  object-fit: cover;
}

.story__article {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;


}

/* .quote {
  padding-right: 40px;
  font-weight: bold;
} */

.article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width:680px) {
  .story__image-container {
    position: relative;
    width: 100%;
    height: 400px;
  }

  .story__article {
    display: flex;
    flex-direction: row;
    padding-top: 45px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .quote {
    display: flex;
    text-align: center;
    font-weight: bold;
    padding-right: 0;
    line-height: 1.5;
    font-size: 24px;
  }
}

aside {
  background: white;
  /* display: inline-block; */
  position: relative;

}

aside:before {
  content: '"';
  position: absolute;

  font-size: 48px;
  top: 10px;
  left: 10px;

}

aside:after {
  content: '"';
  position: absolute;
  font-size: 48px;
  bottom: -10px;
  right: 10px;


}

@media (min-width:1200px) {
  .story__image-container {
    position: relative;
    width: 100%;
    height: 550px;
  }

  .story__article {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }

}

aside {
  background: white;
  display: inline-block;
  position: relative;


}

aside:before {
  content: '"';
  position: absolute;
  font-size: 50px;
  top: 10px;
  left: 10px;


}

aside:after {
  content: '"';
  position: absolute;
  font-size: 50px;
  bottom: -10px;
  right: 10px;


}
